


@*<div class="content-gradient"></div>*@
<div class="container-fluid main-content">
    <main role="main" class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 infobox">
                <p><img src="~/assets/images/illus-agent-manager.png" /></p>
                <h2>
                    POUR LES AGENTS, LES MANAGERS
                    LES COMMERCIAUX, LES SSII
                </h2>
                <p class="lead">
                    Centralisation des CRA de tous vos consultants
                    Gestion de documents sécurisée.
                    Signature électronique en ligne.
                    Transmission automatique à votre service achat, paie, facturation.
                </p>
                <p class="lead">
                    A partir de 50€ /mois vous présentez enfin vos CRA et leurs gestions de façons professionnels vers vos clients et vos consultants.
                </p>
                <p>Inscrivez vous maintenant</p>
                <div class="infobox-button">
                    <a class="btn-custom-primary" role="button" href="@Url.Action("Registration", "Account")">
                        <b>Pemier trimestre GRATUIT !</b>
                    </a>
                </div>
            </div>
        </div>
    </main><!-- /.container -->
</div>

