
@{
    ViewBag.Title = "client";
}

@*<div class="content-gradient"></div>*@
<div class="container-fluid main-content">
    <main role="main" class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 infobox">
                <p><img src="./assets/images/illus-clientfinal.png" /></p>
                <h2>
                    POUR LE CLIENT FINAL
                    LE DONNEUR D’ORDRE
                </h2>
                <p class="lead">
                    Centralisation des CRA de tous vos consultants quelque soit leur SSII.
                    Validation et Signature électronique en ligne.
                    Gestion de documents sécurisés.
                    Sauvegarde et archivage pdt 10 ans
                    Transmission automatique à votre service achat, facturation.
                </p>
                <div class="infobox-button">
                    <a class="btn-custom-primary" role="button" href="./inscription1.html">
                        <b>TOTALEMENT GRATUIT !</b>
                    </a>
                </div>
            </div>
        </div>
    </main><!-- /.container -->
</div>

@section Scripts{

    <script src="~/assets/scripts/main.70255159a2dbf7e3e589.js"></script>
}

