<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1ccb0a3a-c57d-40d1-8ddf-579cb85b1e31/resourcegroups/MCSolution/providers/Microsoft.Web/sites/MCSolutions20181019105107</ResourceId>
    <ResourceGroup>MCSolution</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mcsolutions20181019105107.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mcsolutions20181019105107.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MCSolutions20181019105107</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MCSolutions20181019105107</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthenticationDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:inst-directmissiondev.database.windows.net,1433;Initial Catalog=DirectMissionMikl;Persist Security Info=True;User ID=mik;Password=G]3969e,;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MCSolutions.DataAccess.AuthenticationDB, MCSolutions" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AuthenticationDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:inst-directmissiondev.database.windows.net,1433;Initial Catalog=DirectMissionMikl;Persist Security Info=True;User ID=mik;Password=G]3969e,;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>